ConnectionStrings__BanecoDb="Server=localhost;Database=qr-banco-economico;User Id=sa;Password=<password>;TrustServerCertificate=True;Encrypt=False"
Baneco__BaseUrl="https://apimkt.baneco.com.bo/apiGateway/"
Baneco__BearerToken="<token-temporal-del-banco>"
